.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Borde circular */
    box-sizing: border-box;
    transition: box-shadow 0.3s;
  }
  
  .search-bar:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .notas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    box-sizing: border-box;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card button {
    background-color: #ff5252;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .card button:hover {
    background-color: #ff1744;
  }
  
  .volver-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px; /* Borde circular */
    margin-bottom: 20px;
  }
  
  .volver-btn:hover {
    background-color: #0056b3;
  }
  