/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body {
    background-color: aqua; /* Color de fondo suave */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  